---
import Amazing from "../../../public/assets/stickers/amazing.svg";
import Arch from "../../../public/assets/stickers/arch.svg";
import Circle from "../../../public/assets/stickers/circle.svg";
import Happy from "../../../public/assets/stickers/happy.svg";
import Mandala from "../../../public/assets/stickers/mandala.svg";

const { variant, class: className = "", ...rest } = Astro.props;
---

<div class={className}>
  {variant === "amazing" && <Amazing />}
  {variant === "arch" && <Arch />}
  {variant === "circle" && <Circle />}
  {variant === "happy" && <Happy />}
  {variant === "mandala" && <Mandala />}
</div>
