@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Outfit-Medium.woff2") format("woff2");
}
@font-face {
  font-family: Nourd;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/nourd_regular.woff2") format("woff2");
}
@font-face {
  font-family: Nourd;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/nourd_light.woff2") format("woff2");
}
@font-face {
  font-family: Nourd;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/nourd_bold.woff2") format("woff2");
}
@font-face {
  font-family: Breathing;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Breathing.woff2") format("woff2");
}

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@theme {
  --font-heading: "Outfit", sans-serif;
  --font-sans: "Nourd", sans-serif;

  --color-corail: #ffa187;
  --color-marron: #66301a;
  --color-jaune: #ffd88a;
  --color-atoll: #0c6277;
  --color-lavande: #a972df;
  --color-pastel: #f8e7ff;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading text-atoll;
  }

  .breathing {
    font-family: "Breathing";
  }

  .big-breathing {
    font-family: "Breathing";
    @apply text-4xl md:text-5xl lg:text-6xl xl:text-7xl;
  }

  .big-text {
    @apply text-4xl md:text-5xl lg:text-6xl xl:text-7xl;
  }

  body {
    @apply text-marron bg-white;
  }

  .corail {
    color: #ffa187;
  }
  .marron {
    color: #66301a;
  }
  .jaune {
    color: #ffd88a;
  }
  .atoll {
    color: #0c6277;
  }
  .lavande {
    color: #a972df;
  }
  .pastel {
    color: #f8e7ff;
  }

  .texture-jauneBlob {
    background-image: url("/assets/textures/jauneBlob.png");
    color: var(--color-marron);
    background-size: cover;
  }

  .texture-atoll {
    background-image: url("/assets/textures/atoll.png");
    color: var(--color-marron);
    background-size: cover;
  }

  .texture-atollBlob {
    background-image: url("/assets/textures/atollBlob.png");
    color: var(--color-marron);
    background-size: cover;
  }

  .texture-corail {
    background-image: url("/assets/textures/corail.png");
    color: var(--color-marron);
    background-size: cover;
  }

  .texture-corailBlob {
    background-image: url("/assets/textures/corailBlob.png");
    color: var(--color-marron);
    background-size: cover;
  }

  .texture-lavande {
    background-image: url("/assets/textures/lavande.png");
    color: var(--color-marron);
    background-size: cover;
  }

  .texture-lavandeBlobDark {
    background-image: url("/assets/textures/lavandeBlobDark.png");
    color: var(--color-marron);
    background-size: cover;
  }

  .texture-lavandeBlobLight {
    background-image: url("/assets/textures/lavandeBlobLight.png");
    color: var(--color-marron);
    background-size: cover;
  }

  .texture-pastel {
    background-image: url("/assets/textures/pastel.png");
    color: var(--color-marron);
    background-size: cover;
  }
  .text-container {
    @apply prose-base md:prose-2xl lg:prose-headings:text-7xl xl:prose-p:text-5xl mx-auto w-full max-w-screen px-8 lg:px-16 2xl:max-w-screen-2xl;
  }
}
