@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Outfit-Medium.woff2") format("woff2");
}
@font-face {
  font-family: Nourd;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/nourd_regular.woff2") format("woff2");
}
@font-face {
  font-family: Nourd;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/nourd_light.woff2") format("woff2");
}
@font-face {
  font-family: Nourd;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/nourd_bold.woff2") format("woff2");
}
@font-face {
  font-family: Breathing;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Breathing.woff2") format("woff2");
}

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@theme {
  --font-heading: "Outfit", sans-serif;
  --font-sans: "Nourd", sans-serif;

  --color-corail: #ffa187;
  --color-marron: #66301a;
  --color-jaune: #ffd88a;
  --color-atoll: #0c6277;
  --color-lavande: #a972df;
  --color-pastel: #f8e7ff;

  --spacing-section: 80px;
  --spacing-gutter: 24px;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading text-atoll;
  }

  .breathing {
    font-family: "Breathing";
    vertical-align: middle;
    @apply text-2xl leading-normal md:text-4xl lg:text-4xl xl:text-5xl;
  }

  .big-breathing {
    font-family: "Breathing";
    vertical-align: middle;
    @apply text-4xl leading-relaxed md:text-5xl lg:text-6xl xl:text-7xl;
  }

  .big-text {
    @apply text-4xl md:text-5xl lg:text-6xl xl:text-7xl;
  }

  body {
    @apply text-marron bg-white;
  }

  .bg-corail {
    background-color: #ffa187;
    color: var(--color-atoll);
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--color-marron);
    }
  }

  .corail {
    color: #ffa187;
  }

  .bg-marron {
    background-color: var(--color-marron);
    color: white;
  }

  .marron {
    color: #66301a;
  }

  .bg-jaune {
    background-color: #ffd88a;
    color: var(--color-marron);
  }

  .jaune {
    color: #ffd88a;
  }

  .bg-atoll {
    background-color: #0c6277;
    color: white;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--color-jaune);
    }
  }

  .atoll {
    color: #0c6277;
  }

  .bg-lavande {
    background-color: #a972df;
    color: white;
    & h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--color-jaune);
    }
  }

  .lavande {
    color: #a972df;
  }

  .bg-pastel {
    background-color: #f8e7ff;
    color: var(--color-marron);
  }

  .pastel {
    color: #f8e7ff;
  }

  .texture-jauneBlob {
    background-image: url("/assets/textures/jauneBlob.png");
    color: var(--color-marron);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    fill: var(--color-marron);
  }

  .texture-atoll {
    background-image: url("/assets/textures/atoll.png");
    color: white;
    background-size: cover;
    fill: white;
  }

  .texture-atollBlob {
    background-image: url("/assets/textures/atollBlob.png");
    color: white;
    background-size: cover;
    fill: white;
  }

  .texture-corail {
    background-image: url("/assets/textures/corail.png");
    color: var(--color-marron);
    background-size: cover;
    fill: var(--color-marron);
  }

  .texture-corailBlob {
    background-image: url("/assets/textures/corailBlob.png");
    color: var(--color-atoll);
    background-size: cover;
    fill: var(--color-atoll);
  }

  .texture-lavande {
    background-image: url("/assets/textures/lavande.png");
    color: white;
    background-size: cover;
    fill: white;
  }

  .texture-lavandeBlobDark {
    background-image: url("/assets/textures/lavandeBlobDark.png");
    color: white;
    background-size: cover;
    fill: white;
    & h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--color-jaune);
    }
  }

  .texture-lavandeBlobLight {
    background-image: url("/assets/textures/lavandeBlobLight.png");
    color: var(--color-marron);
    background-size: cover;
    fill: var(--color-marron);
  }

  .texture-pastel {
    background-image: url("/assets/textures/pastel.png");
    color: var(--color-marron);
    background-size: cover;
    fill: var(--color-marron);
  }
  .texture-transparent {
    color: var(--color-marron);
    fill: var(--color-marron);
  }
  .text-container-big {
    @apply prose-headings:mt-4 prose-base md:prose-2xl lg:prose-headings:text-7xl xl:prose-p:text-4xl mx-auto w-full max-w-screen px-8 lg:px-16 2xl:max-w-screen-2xl;
    ul,
    ol {
      @apply list-inside list-disc pl-0;
    }
  }
  .text-container-base {
    @apply prose-base md:prose-xl lg:prose-headings:text-5xl xl:prose-p:text-3xl mx-auto w-full max-w-screen px-8 lg:px-16 2xl:max-w-screen-2xl;
    ul,
    ol {
      @apply list-inside list-disc pl-0;
    }
  }
  .text-container-small {
    @apply prose-base md:prose-base lg:prose-headings:text-xl xl:prose-p:text-xl mx-auto w-full max-w-screen px-8 lg:px-16 2xl:max-w-screen-2xl;
    ul,
    ol {
      @apply list-inside list-disc pl-0;
    }
  }
  .text-container-small-wide {
    @apply prose-base md:prose-base lg:prose-headings:text-xl xl:prose-p:text-xl mx-auto w-full max-w-screen px-1 lg:px-2 2xl:max-w-screen-2xl;
    ul,
    ol {
      @apply list-inside list-disc pl-0;
    }
  }

  /* .split-layout:nth-of-type(odd) {
    grid-template-columns: 40% 1fr;
    .image {
      order: 0;
    }
  } */
  /* .split-layout:nth-of-type(even) {
    grid-template-columns: 1fr 40%;
    .image {
      order: 1;
    }
  } */
  .split-layout {
    grid-template-columns: 1fr 40%;
    .image {
      order: 1;
    }
  }
}
