---
import Stickers from "../helpers/Stickers.astro"
const { texture, sticker, position } = Astro.props
---

<section class=`intro texture${texture} relative pb-18 lg:pb-38`>
  <div class="py-12 lg:py-24">
    <div
      class="max-w-screen mx-auto px-8 lg:px-16 w-full 2xl:max-w-screen-2xl prose-pilates lg:prose-xl text-4xl sm:text-4xl md:text-5xl lg:text-6xl">
      <p>
        <span class="breathing">Mon but</span> : Que vous deveniez acteur de votre
        bien-être au quotidien !
      </p>
      <p class="text-2xl sm:text-2xl md:text-3xl lg:text-4xl">
        Nos modes de vie : sédentaires, pressés et les extrêmes sollicitations
        participent à une augmentation du stress et d’une rigidité du corps. Il
        est essentiel de retrouver du mouvement autant physique que psychique
        pour permettre à notre être de fonctionner de façon optimale.
      </p>
    </div>
  </div>
  <Stickers
    variant={sticker}
    class=`w-32 lg:w-64 h-auto absolute -bottom-6 ${position==="left" ? "left-8" : position==="right" ? "right-8" : "right-1/2 translate-x-1/2"} z-10`
    `
  />
</section>

<style>
  .texture1 {
    background-image: url("/assets/texture1.png");
    color: var(--color-marron);
    background-size: cover;
  }
  .texture2 {
    background-image: url("/assets/texture2.png");
    color: var(--color-white);
    background-size: cover;
  }
  .texture3 {
    background-image: url("/assets/texture3.png");
    color: var(--color-marron);
    background-size: cover;
  }
  .texture4 {
    background-image: url("/assets/texture4.png");
    color: var(--color-white);
    background-size: cover;
  }
</style>
