---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import RichTextRenderer from "storyblok-rich-text-astro-renderer/RichTextRenderer.astro";

const { blok } = Astro.props;
console.log(blok);
---

<section
  class="hero relative z-1 flex min-h-screen items-start bg-cover bg-center bg-no-repeat py-32 text-center md:py-16 lg:px-32"
  style={`background-image: url("${blok.image?.filename}")`}
  {...storyblokEditable(blok)}>
  <div class="text-container">
    <RichTextRenderer
      content={blok.content}
      resolver={(blok) => {
        return {
          component: StoryblokComponent,
          props: { blok }
        };
      }}
    />
  </div>
</section>
