---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import RichTextRenderer from "storyblok-rich-text-astro-renderer/RichTextRenderer.astro";
import { Image } from "astro:assets";

const { blok } = Astro.props;
---

<section
  class={`"hero relative flex min-h-screen items-center justify-center text-center p-4 ${blok.addbg ? "addbg" : ""}`}
  {...storyblokEditable(blok)}>
  <Image
    src={blok.image?.filename}
    alt={blok.image?.alt}
    class="darker absolute z-0 h-full w-full object-cover"
    inferSize
    layout="constrained"
  />
  <div class="overlay"></div>
  <div class="text-container-big z-10 max-w-[60ch] px-4 pb-16 text-left lg:px-12">
    {
      blok.content && (
        <RichTextRenderer
          content={blok.content}
          resolver={(blok) => {
            return {
              component: StoryblokComponent,
              props: { blok }
            };
          }}
        />
      )
    }
  </div>
</section>

<style>
  .addbg .text-container-big {
    background: color-mix(in srgb, var(--color-atoll) 50%, transparent);
    padding: 1.5rem;
    border-radius: 2rem;
    color: white;
    & :global(h1) {
      color: var(--color-pastel);
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>
