---
import Navigation from "./navigation.astro"
import "../styles/global.css"

const { desc, titre = "mon titre au cas où" } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={desc} />
    <title>{titre}</title>
  </head>
  <body class="overflow-x-hidden">
    <Navigation />
    <slot />
  </body>
</html>

<style>
  p {
    font-size: 3em;
  }
</style>
